html, body {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    --fgHover: rgb(32, 32, 32, 0.1);
    --fg: #222;
    --nav: #D4D0C8;
    --navDarker: #aeaba6; 
    --bg: white;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--fg);
}

body.dark {
    --fg: #fafafa;
    --fgHover: rgb(250,250,250, 0.1);
    --nav: #8a8986;
    --bg: black; /*prev: #222 and rgb(32,32,32)*/
}

.content {
    color: var(--fg);
    flex-grow: 1;
    min-height: 0;
    position: relative;
    margin: 0 5px 0 5px;
    padding: 0;
}

main {
    max-width: 804px;
    min-height: 100vh;
    margin: 0 auto;
    background: var(--bg);
    outline: 4px solid var(--nav);
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: calc(100% - 4px);
    overflow-x: hidden;
}

.littlePadding {
    padding-top: 0.5em;
    padding-bottom: 2em;
}

footer {
    width: 100%;
    flex-shrink: 0;
    padding: 8px 2px 8px 2px;
    text-align: center; 
    font-size: 1em;
    color: var(--fg);
}

.colWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

strong {
    font-weight: 700 !important;
}

.textbox {
    width: 100%;
    position: relative;
}

a {
    color: #9d7ac1;
}

a:hover {
    text-decoration: underline;
}

textarea, .p-heights, input {
    box-sizing: border-box;
    margin: 10px 0 10px 0;
    width: 100%;
    color: var(--fg);
    font-size: 1em;
    min-height: 2em;
    line-height: 1.5em;
    font-family: 'JetBrains Mono', monospace;
    background: var(--bg);
    border: 2px solid var(--fg);
    border-top-width: 4px;
    border-left-width: 4px;
    word-wrap: break-word;
    outline: none;
    white-space: pre-wrap;
}

textarea {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    resize: none;
    position: absolute;
}

.p-heights {
    visibility: hidden;
}


button:hover {
    background: var(--fgHover);
}
.action {
    border: 2px solid var(--fg);
    border-top-width: 4px;
    border-left-width: 4px;
    margin-bottom: 20px;
    padding: 5px;
}


button {
    width: fit-content;
    align-self: center;
    font-family: 'JetBrains Mono', monospace;
    background: var(--nav);
    color: var(--fg);
    font-size: 1em;
}

.icon::after {
    position: absolute;
    pointer-events: none;
    white-space: nowrap;
    content: 'Add new page';
    padding: 5px;
    background: var(--fgHover);
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    opacity: 0;
    transform: translate(-63%, 40px);
    transition: opacity .2s, transform .2s;
    transition-delay: 0s;
}

.icon:hover::after {
    transition-delay: 0.5s;
    opacity: 1 !important;
}


.engine {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.time {
    color: var(--fg);
    opacity: 0.4;
}

.datacontent {
    width: 100%;
    position: relative;
    display: flex;

}

.result {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.result:hover, .hoverShow {
    background: var(--fgHover);
}

.rowWrapper {
    display: flex;
    justify-content: space-around;
}



nav {
    width: 100%;
    height: 6.5625em;
    background: var(--nav);
    display: flex;
    flex-direction: column;
}

.titleNav, .welcomeNav {
    margin: 3px 1px 3px 1px;
}

.titleNav {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, var(--navDarker), var(--navDarker)1px, #e5e5f7 0, #e5e5f7 50%);
    color: white;
    text-align: center;
}


.cover {
    background: #6165EE;
}

.welcomeNav {
    width: 11em;
    font-weight: 400;
    box-shadow: 3px 2px 1px 1px black;
    z-index: 10 !important;
    border-top: 2px solid var(--navDarker);
    border-left: 2px solid var(--navDarker);
    padding-left: 3px;
    padding-right: 3px;
}

.welcomeNav:hover{
    transform: translate(2px, 2px);
}


.navSubar {
    display: flex;
    align-items: center;
    z-index: 2;
    background-color: var(--nav);
    justify-content: space-between;
    border-bottom-width: 0;
    box-shadow: 3px 2px 1px 1px black;
    border-left: 2px solid var(--navDarker);
}

.windowBar {
    display: flex;
    flex-direction: row;
    height: 25px;
    justify-content: space-evenly;
    background: linear-gradient(to right, #90441D, #ECD1B5);
    color: white;
}

.navPattern {
    flex-grow: 1;
    opacity: 0.8;
    margin-top: 3px;
    margin-bottom: 3px;
    background: transparent;
    background-image: linear-gradient(0deg, transparent 50%, black 50%);
    background-size: 2px 2px;
}

.navSubar button {
    outline: none;
    border: none;
    height: fit-content;
}

.navInput {
    background: white;
    flex-grow: 1;
    border-radius: 0;
    border: 1px solid black;
    border-top-width: 3px;
    margin-right: 10px;
    border-left-width: 3px;
}

.modal {
    position: fixed;
    z-index: 5;
    background-color: var(--bg);
    overflow: auto;
    opacity: 0.95;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modalBody {
    padding: 20px;
    white-space: pre-line;
}

.modalContent {
    max-width: 750px;
    position: relative;
    top: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--navDarker);
}

.modalNavTitle {
    margin: 0 5px 0 5px;
    padding: 0;
    font-size: 0.7em;
    font-weight: 700;
    align-self: center;
}

.closeModal {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 0;
}


.highlighted {
    background: yellow;
    color: black;
}